
.link {
  position: relative;
  cursor: pointer;
  text-decoration: underline !important;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.darkTheme {
  color: #78a9ff;
}

.darkTheme:hover:not(.disabled) {
  color: #a6c8ff;
  text-decoration: underline !important;
}

.lightTheme {
  color: #002d9c;
}

.lightTheme:hover:not(.disabled) {
  color: #0043ce;
  text-decoration: underline !important;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: underline !important;
}